/*---------  ШРИФТЫ  ------------*/
.logo p, .logo span {
    font: bold 14px Roboto;
    text-transform: uppercase;
}
nav ul li,
.calculator p {
    font: 500 18px Roboto;
}
.phone_header p {
    font: 900 24px Roboto;
}
.phone_header p span {
    font: 900 18px Roboto;
}
.phone_header a {
    font-size: 15px;
}
header h1 {
    font: 900 60px Roboto;
}
header h1 span {
    font: 400 40px Roboto;
}
.header_p {
    font: 400 20px Roboto;
}
.header_button,
.consultation input[type = submit],
.calculator_btn {
    font: 500 13px Roboto;
}
.advantages h2,
.body_h2,
.education h2 {
    font: 900 40px Roboto;
}
.advantages p {
    font: 400 18px Roboto;
}
.why_we h3 {
    font: 500 28px Roboto;
}
.why_we p, 
.problems p,
.how_stud p,
.who_stud p,
.feedback p,
.feedback_fakt_one p,
.feedback_fakt_two p,
.feedback_fakt_three p,
.feedback_slaider a {
    font: 300 18px Roboto;
}
.consultation_form_name, .consultation_form_phone {
    font: 300 20px Roboto;
}
.problems h4 {
    font: 900 72px Roboto;
}
.problems h3,
.education h3,
.feedback h3 {
    font: 500 30px Roboto;
}
.calculator h3 {
    font: 500 24px Roboto;
}
/*---------  ШАПКА  ------------*/
header {
    background: url(../img/header_bg.jpg) center top #3079d4;
    padding-bottom: 227px;
    background-size: cover;
}
.logo img {
    float: left;
    margin-top: 20px;
}
.logo p {
    float: left;
    padding-top: 21px;
    margin-left: 5px;
    color: white;
}
nav ul {
    margin-top: 25px;
}
nav ul a {
    float: left;
    margin-right: 24px;
    color: white;
}
nav ul li:last-child a {
    margin-right: 0;
}
.phone_header {
    float: right;
}
.phone_header p {
    padding: 10px 0 0 0;
    margin: 0;
    color: white;
}
.phone_header a {
    position: relative;
    top: -4px;
    margin-left: 2px;
    border-bottom: 1px solid white;
    color: white;
}
.phone_header a:hover {
    border-bottom-color: blue;
}
header h1 {
    margin: 100px 0 0 0;
    color: white;
    letter-spacing: 1.1px;
    position: relative;
    left: -3px;
}
header h1 span {
    letter-spacing: 0px;
    position: relative;
    top: -20px;
    left: 3px;
}
.header_p {
    color: white;
    margin: -10px 0 44px 0;
}
.header_button {
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    background-color: #ff2b2b;
    border: 1px solid #ff2b2b;
    border-radius: 25px;
    padding: 19px 36px 18px 36px;
}
.header_button:hover {
    color: white;
    text-decoration: none;
    background-color: #d52424;
}
.advantages {
    background: white;
    margin-top: -80px;
    padding-bottom: 35px;
    border: 1px solid #f2f2f2;
    border-bottom: 3px solid #f2f2f2; 
}
.advantages h2 {
    color: #ff3636;
    margin: 43px 0 0 0;
}
.advantages p {
    margin-top: 8px;
    color: #353535;
    line-height: 24px;
}
 .advantages_one {
    margin-left: 100px;
}
.advantages_three {
    margin-left: 45px;
}
.advantages_four {
    margin-left: 3px;
}
/*---------  ПОЧЕМУ К НАМ  ------------*/
.body_h2 {
    text-align: center;
    color: 232323;
    margin: 75px 0 70px 0;
}
.why_we img {
    display: block;
    margin: 0 auto;
}
.why_we h3 {
    margin: 30px 0 15px 0;
    text-align: center;
}
.why_we p {
    text-align: center;
    line-height: 24px;
}
.why_we_two {
    margin: 45px 0 145px 0;
}
/*---------  БЕСПЛАТНАЯ КОНСУЛЬТАЦИЯ  ------------*/
.consultation {
    background: url(../img/consultation_bg.jpg) center top #3079d4;
    background-size: cover;
}
.consultation h2 {
    margin-top: 60px;
}
.consultation_bg {
    background-color: white;
    border: 1px solid #f2f2f2;
    border-top: 3px solid #f2f2f2;
    position: relative;
    top: -90px;
    padding-bottom: 80px;
}
.consultation_form_name,
.consultation_form_phone {
    color: #ff2b2b;
    border: 0px solid black;
    border-bottom: 2px solid #c3c3c3;
    background: url(../img/user.png) left 4px no-repeat;
    padding: 0 0 10px 25px;
    margin-left: 146px;
}
.consultation_form_name::placeholder, .consultation_form_phone::placeholder {
    color: #ff2b2b;
}
.consultation_form_name:focus, 
.consultation_form_phone:focus,
.consultation input[type = submit],
.calculator_btn {
    outline: none;
}
.consultation_form_phone {
    margin: 0 0 0 -44px;
    background: url(../img/phone.png) left 5px no-repeat;
}
.consultation input[type = submit],
.calculator_btn {
    color: white;
    text-transform: uppercase;
    padding: 22px 52px;
    letter-spacing: 1.1px;
    background-color: #ff2b2b;
    border: 1px solid #ff2b2b;
    border-radius: 25px;
    margin: -25px 0 0 -44px;
}
.consultation input[type = submit]:hover,
.calculator_btn:hover {
    background-color: #d52424;
}
/*---------  РЕШИМ 4 ВАШИ ПРОБЛЕМЫ  ------------*/
.problems {
    border-bottom: 2px #ebebeb solid;
    background: url(../img/bigben.png) 48% 102% no-repeat;
    padding-bottom: 25px;
}
.problems h2 {
    margin-bottom: 50px;
}
.problems h3 {
    line-height: 36px;
    color: #232323;
    margin: 10px 0 15px 0;
}
.problems h4 {
    color: #ff3636;
    margin-left: -6px;
}
.problems p {
    line-height: 24px;
    color: #232323 ;
}
.problem_one p {
    margin-right: 60px;
}
.problem_two h4 {
    float: left;
}
.problem_two h3 {
    width: 330px;
    margin: 0 0 0 105px;
    position: relative;
    top: 7px;;
}
.problem_two p {
    clear: both;
    margin: 7px 30px 0 107px;
}
.problem_three {
    margin: 35px 25px 0 100px;
}
.problem_four {
    margin: -40px 0 0 0;
}
/*---------  КТО И КАК ОБУЧАЕТ  ------------*/
.education {
    margin: 75px 0 50px 0;
}
.education h3 {
    line-height: 36px;
    color: #232323;
}
.how_stud img {
    float: left;
}
.how_stud_one {
    margin-top: 70px;
    margin-right: 50px;
}
.how_stud_two,
.how_stud_three {
    margin-top: 35px;
    margin-right: 10px;
}
.how_stud h3 {
    position: relative;
    top: 10px;
    margin-left: 100px;
}
.how_stud p {
    color: #232323;
    line-height: 24px;
    margin: 25px 0 0 101px;
}
.who_stud {
    padding-left: 30px;
}
.who_stud h2 {
    margin-bottom: 60px;
}
.who_stud div {
    float: left;
}
.who_stud h3 {
    text-align: center;
    margin-top: 20px;
}
.who_stud p {
    line-height: 24px;
    color: #232323;
    text-align: center;
    margin-left 3px;
}
.who_stud_xenia {
    clear: both;
}
.who_stud_arnold,
.who_stud_anton,
.who_stud_mat,
.who_stud_evgenia{
    margin-left: 40px;
}
.who_stud_xenia,
.who_stud_anton,
.who_stud_evgenia {
    margin-top: 40px;
}
/*---------    ПОДБЕРЕМ ПРОГРАММУ ОБУЧЕНИЯ  ------------*/
.calculator {
    margin-top: 50px;
}
.calculator_bg_image {
    background: url(../img/calculator_bg.jpg) center top no-repeat;
    max-height: 458px;
    background-size: cover;
    margin-top: 350px;
}
.calculator_bg {
    background: white;
    border: 1px solid #f2f2f2;
    border-top: 3px solid #f2f2f2;
    position: relative;
    top: -320px;
}
.calculator h3 {
    line-height: 30px;
    margin-left: 100px;
}
.calculator_day input,
.calculator_day2 input,
.calculator_day3 input,
.education_form input,
.education_form2 input, 
.education_form3 input,
.feedback_slaider input {
    display: none;
}
.calculator_day label,
.calculator_day2 label,
.calculator_day3 label,
.education_form label,
.education_form2 label,
.education_form3 label,
.feedback_slaider label {
    display: inline-block;
    margin: 0 0 10px 36px;
}
.calculator_day label,
.education_form label {
    margin: 0 0 0 118px;
}
.calculator_day p {
    margin: 10px 0 0 80px;
}
.education_form p {
    margin: 10px 0 0 93px;
}
.calculator_day2 label,
.education_form2 label {
    margin: 0 0 0 54px;
}
.education_form2 p {
    margin: 10px 0 0 33px;
}
.calculator_day2 p {
    margin: 10px 0 0 20px;
}
.calculator_day3 label,
.education_form3 label {
    margin: 0 0 0 62px;
}
.calculator_day3 p {
    margin: 10px 0 0 42px;
}
.education_form3 p {
    margin: 10px 0 0 22px;
}
.calculator_day i,
.calculator_day2 i,
.calculator_day3 i,
.education_form i, 
.education_form2 i, 
.education_form3 i,
.feedback_slaider i {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 4px solid #ff3529;
    border-radius: 50%;
    position: relative;
}
.calculator_day i:before,
.calculator_day2 i:before,
.calculator_day3 i:before,
.education_form i:before,
.education_form2 i:before,
.education_form3 i:before,
.feedback_slaider i:before {
    content: "";
    position: absolute;
    top: 2px; bottom: 2px;
    left: 2px; right: 2px;
    background: red;
    border-radius: 50%;
    display: none;
}
.calculator_day input:checked + i:before,
.calculator_day2 input:checked + i:before,
.calculator_day3 input:checked + i:before,
.education_form input:checked + i:before,
.education_form2 input:checked + i:before, 
.education_form3 input:checked + i:before,
.feedback_slaider input:checked+ i:before {
    display: block;
}
.week {
    margin: 40px 0 0 85px;
}
.education_forms {
    margin: 40px 0 90px 0;
}
.calculator_form {
    margin: 0 -17px 100px 0;
}
.calculator_form_name {
    margin: 0 0 0 100px;
}
.calculator_form_phone {
    margin: 0 0 0 -70px;
}
.calculator_btn {
    padding: 20px 30px 22px 30px;
}
/*---------   ДУМАЕТЕ ОПЯТЬ НЕ ПОЛУЧИТСЯ?  ------------*/
.feedback h3 {
    line-height: 36px;
    margin: 23px 0 15px 0;
}
.feedback_fakt_one p {
    line-height: 22px;
    margin: 0 65px 30px 0;
}
.feedback_fakt_two {
    margin: 0 40px 30px 0;
}
.feedback_fakt_three {
    margin: 0 0 30px 20px;
}
.feedback_fakt_three h3 {
    margin-right: -20px;
}
.feedback_maria {
    margin-left: 30px;
}
.feedback_alex {
    margin-left: 35px;
}
.feedback_maria img,
.feedback_alex img {
    float: left;
}
.feedback_maria h3,
.feedback_alex h3 {
    position: relative;
    top: 65px;
    left: 18px
}
.feedback_maria h4,
.feedback_alex h4 {
    clear: both;
    margin: 95px 0px 20px 0;
}
.feedback_maria h4{
    margin-right: 150px;
}
.feedback_maria p {
    margin-right: 50px;
    line-height: 24px;
}
.feedback_alex p {
    margin-right: 50px;
    line-height: 24px;
}
.feedback_slaider {
    margin: 45px 0 80px 0;
    text-align: center;
}
.feedback_slaider label {
    margin: 0 0 0 0;
}
.feedback_slaider i {
    border: 2px solid #ff3529;
}
.feedback_slaider i:before {
    left: 0; right: 0;
    top: 0; bottom: 0;
}
.feedback_slaider :nth-child(2) {
    margin: 0 4px 0 3px;
}
.feedback_slaider a:first-child {
    margin-right: 28px;
    color: #232323;
    background: url(../img/arrow_left.png) left 7px no-repeat;
    padding-left: 28px; 
}
.feedback_slaider a:last-child {
    margin-left: 28px;
    color: #232323;
    background: url(../img/arrow_right.png) right 7px no-repeat;
    padding-right: 28px; 
}
.feedback_slaider a {
    position: relative;
    top: -4px;
}
.feedback_slaider a:hover {
    color: #ff2b2b;
    text-decoration: none;
}
